# 作业2 股票数据清洗

同学们好，本次作业的主要内容为使用pandas进行数据预处理。希望这两天你们已经从Python的课程内容中回过神来了。
没有数据的分析是无源之水，能够熟练处理数据是成为合格的数据分析师的基本要求，希望大家在今后多多实战，成为数据大师。

本次作业将使用公开标普500的股票数据。
https://www.kaggle.com/dgawlik/nyse#prices-split-adjusted.csv

作业的形式以问答为主，因为不涉及过长的代码，核心是数据的操作，所以这里没有太多的代码模板可供大家参考。
希望大家能从搜索引擎（google/bing）问答社区（stackoverflow）或者[官方文档](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)或者我提供的jupyter notebooks 中找到回答问题需要的方法。
请时刻牢记数据的增删改查四种原子操作，思考我们的问题可以被如何分解。

那么首先，我们要import pandas

In [2]:
import pandas as pd

# 1. 从fundemantals.csv开始！

fundemantals.csv 是这些股票的年报数据

请用数据回答以下问题：

1. S&P500股票在2015年`net income`的均值是多少？最大值比最小值多多少？（每问10分，共计20分）
2. S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是多少？固定资产占总资产比例最小的股票的代码（ticker symbol）是什么？（每问10分，共计20分）

In [3]:
fd = pd.read_csv('fundamentals.csv')
fd.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [4]:
#第一题
fun2015 = fd.query('`For Year` == 2015.0')
print('S&P500股票在2015年net income的均值是',fun2015['Net Income'].mean())
print('最大值比最小值多',fun2015['Net Income'].max() - fun2015['Net Income'].min())
print()

#第二题
fun2016 = fd.query('`For Year` == 2016.0')
funRatio = fun2016.rename(columns={'Fixed Assets':'Fixed_Assets', 'Total Assets':'Total_Assets'})#命名不规范，新手两行泪
funRatio['Fixed/Total'] = (funRatio.Fixed_Assets/funRatio.Total_Assets)

print('S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是',funRatio['Fixed/Total'].mean())
print('固定资产占总资产比例最小的股票的代码（ticker symbol）是',funRatio.groupby(['Fixed/Total'])['Ticker Symbol'].min().iat[0])

S&P500股票在2015年net income的均值是 1575185571.764706
最大值比最小值多 76922000000.0

S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是 0.18557794433374705
固定资产占总资产比例最小的股票的代码（ticker symbol）是 DHI

# 2. 加入securities.csv~

securities.csv包含了这些股票的基本信息

1. 请列举出各个sector中的加入时间最早的股票名称（10分）
2. 请列举出每一个州中加入时间最晚的股票名称（10分）

In [15]:
se = pd.read_csv('securities.csv')
se.head(n = 10)

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,66740
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877
5,AYI,Acuity Brands Inc,reports,Industrials,Electrical Components & Equipment,"Atlanta, Georgia",2016-05-03,1144215
6,ADBE,Adobe Systems Inc,reports,Information Technology,Application Software,"San Jose, California",1997-05-05,796343
7,AAP,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449
8,AES,AES Corp,reports,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",NaN,874761
9,AET,Aetna Inc,reports,Health Care,Managed Health Care,"Hartford, Connecticut",1976-06-30,1122304

In [16]:
se = se.rename(columns={'Date first added':'Date_first_added',
                        'GICS Sector':'GICS_Sector',
                        'Address of Headquarters':'Address_of_Headquarters'}) #遇事不决先改名
se['Date_first_added'] = se['Date_first_added'].fillna('null')
indexOfNull = se[(se.Date_first_added=='null')].index.tolist()
se2 = se.drop(indexOfNull) #删除空值
se2.sort_values(by = 'Date_first_added')

#第一题
s1 = se2.sort_values(by = 'Date_first_added') #先按照日期排序
s1 = s1.set_index(keys =['GICS_Sector'])

x = [1,2,3,6]
s1 = s1.drop(s1.columns[x],axis = 1) #删掉多余列
sector = []
symbol = []
date = []
for i in range(0,len(s1.index),1):
    if not any(s1.index[i] in s for s in sector): #遇到新的sector，直接把第一个当做最早的
        sector.append(s1.index[i])
        String = s1.index[i] + ': ' + s1.iat[i,0]
        symbol.append(String)
        date.append(s1.iat[i,2])
    else: #判断加入时间是否相同
        for j,x in enumerate(sector):
            if s1.index[i] == x and s1.iat[i,2] == date[j]: #并列第一
                String = s1.index[i] + ': ' + s1.iat[i,0]
                symbol.append(String)
                break

print('各个sector中的加入时间最早的股票:')
for i,x in enumerate(symbol):
    print(x)

#第二题
s2 = se2.sort_values(by = 'Date_first_added',ascending=False) #先反过来排序
s2 = s2.set_index(keys=['Address_of_Headquarters'])
x2 = [1,2,3,4,6]
s2 = s2.drop(s2.columns[x2],axis = 1)#删掉多余列

address = []
symbol2 = []
date2 = []
for i in range(0,len(s2.index),1):
    if not any(s2.index[i] in s for s in address): #遇到新的州，直接把第一个当最晚的
        address.append(s2.index[i])
        String2 = s2.index[i] + ': ' + s2.iat[i,0]
        symbol2.append(String2)
        date2.append(s2.iat[i,1])
    else:#判断加入时间是否相同
        for j,x in enumerate(address):
            if s2.index[i] == x and s2.iat[i,1] == date2[j]:#并列倒一
                String2 = s2.index[i] + ': ' + s2.iat[i,0]
                symbol2.append(String2)
                break

print('\n每一个州中加入时间最晚的股票:')
for i,x in enumerate(symbol2):
    print(x)

各个sector中的加入时间最早的股票:
Health Care: ABT
Industrials: HON
Industrials: ARNC
Materials: SHW
Energy: SLB
Consumer Staples: GIS
Consumer Staples: CLX
Consumer Discretionary: MCD
Information Technology: HPQ
Financials: JPM
Utilities: DUK
Utilities: NEE
Telecommunications Services: T
Telecommunications Services: VZ
Real Estate: AVB

每一个州中加入时间最晚的股票:
Westbrook, Maine: IDXX
Nashville, Tennessee: EVHC
Memphis, Tennessee: MAA
New York, NY: COTY
Pleasanton, California: COO
Stamford, Connecticut: CHTR
Columbus, Ohio: MTD
Baton Rouge, Louisiana: ALB
Everett, Washington: FTV
Madison, Wisconsin: LNT
Deerfield, Illinois: FBHS
Cleveland, Ohio: TDG
Itasca, Illinois: AJG
Chicago, Illinois: LKQ
San Francisco, California: DLR
Seattle, Washington: ALK
Atlanta, Georgia: AYI
Bolingbrook, Illinois: ULTA
New York, New York: FL
Marlborough, Massachusetts: HOLX
St Louis, Missouri: CNC
Baltimore, Maryland: UAA
Highlands Ranch, Colorado: UDR
Voorhees, New Jersey: AWK
Midland, Texas: CXO
Rockville, Maryland: FRT
Providence, Rhode Island: CFG
Salt Lake City, UT: EXR
London, United Kingdom: WLTW
Ewing, New Jersey: CHD
Falls Church, Virginia: CSRA
San Diego, California: ILMN
Palo Alto, California: HPE
Jersey City, New Jersey: VRSK
Philadelphia, Pennsylvania: CMCSA
Santa Monica, California: ATVI
Hamilton, Bermuda: SIG
San Jose, California: PYPL
Roanoke, Virginia: AAP
Pittsburgh, Pennsylvania: KHC
Lowell, Arkansas: JBHT
Greensboro, North Carolina: QRVO
Fort Worth, Texas: AAL
Redwood City, California: EQIX
Winston-Salem, North Carolina: HBI
Melville, New York: HSIC
Woburn, Massachusetts: SWKS
Dublin, Ireland: ENDP
Miami, Florida: RCL
Broomfield, Colorado: LVLT
King of Prussia, Pennsylvania: UHS
Silver Spring, Maryland: DISCK
Raleigh, North Carolina: MLM
Beverly, Massachusetts: AMG
Denver, Colorado: XEC
Newark, Delaware: NAVI
Mountain View, California: GOOGL
Brentwood, Tennessee: TSCO
Menlo Park, California: FB
Plano, Texas: ADS
Amsterdam, New York: MHK
Vernier, Switzerland: RIG
Berwyn, Pennsylvania: AME
Cambridge, Massachusetts: VRTX
Florham Park, New Jersey: ZTS
Detroit, Michigan: GM
Kansas City, Missouri: KSU
Tarrytown, New York: REGN
North Chicago, Illinois: ABBV
Gillingham, Kent, United Kingdom: DLPH
Schaffhausen, Switzerland: GRMN
Goodlettsville, Tennessee: DG
Northfield, Illinois: MDLZ
Worsley, UK: PNR
Rotterdam, Netherlands: LYB
Fremont, California: LRCX
Corona, California: MNST
Cheshire, Connecticut: ALXN
Houston, Texas: KMI
Newton, Massachusetts: TRIP
Auburn Hills, Michigan: BWA
Chesapeake, Virginia: DLTR
White Plains, New York: XYL
Plymouth, Minnesota: MOS
Findlay, Ohio: MPC
Irvine, California: EW
Los Gatos, California: NFLX
Cork, Ireland: JCI
Zurich, Switzerland: CB
Richmond, Virginia: KMX
North Kansas City, Missouri: CERN
Tulsa, Oklahoma: OKE
Omaha, Nebraska: BRK.B
Princeton, New Jersey: NRG
Sarasota, Florida: ROP
Glenview, Illinois: MJN
Norwalk, Connecticut: PCLN
Tempe, Arizona: FSLR
Winona, Minnesota: FAST
Springfield, Missouri: ORLY
Austin, Minnesota: HRL
Toledo, Ohio: HCN
Boston, Massachusetts: IRM
Cayce, South Carolina: SCG
Wilsonville, Oregon: FLIR
Phoenix, Arizona: RSG
Short Hills, New Jersey: DNB
Lake Forest, Illinois: SRCL
York, Pennsylvania: XRAY
Las Vegas, Nevada: WYNN
Bridgeport, Connecticut: PBCT
Orrville, Ohio: SJM
Milwaukee, Wisconsin: WEC
Irving, Texas: FLS
Wallingford, Connecticut: APH
Melbourne, Florida: HRS
Harrison, New York: MA
Cincinnati, Ohio: SNI
Houston, Texas[6]: SWN
Sunnyvale, California: ISRG
Long Beach, California: HCP
Columbus, Georgia: TSS
Pasadena, California: JEC
Bellevue, Washington: EXPE
Miamisburg, Ohio: TDC
San Antonio, Texas: TSO
Chandler, Arizona: MCHP
Riverwoods, Illinois: DFS
Bethesda, Maryland: HST
Arlington, Virginia[3]: AVB
Cool Valley, Missouri: ESRX
Creve Coeur, Missouri: MON
Louisville, Kentucky: YUM
Boise, Idaho: MU
Minnetonka, Minnesota: UNH
Dallas, Texas: LUV
Redmond, Washington: MSFT
Chattanooga, Tennessee: UNM
Kingsport, Tennessee: EMN
Issaquah, Washington: COST
Danbury, Connecticut: PX
Thousand Oaks, California: AMGN
St. Louis, Missouri: AEE
San Rafael, California: ADSK
Redwood Shores, California: ORCL
McKinney, Texas: TMK
Sandy Springs, Georgia: NWL
St. Paul, Minnesota: ECL
Washington County, Oregon: NKE
Glendale, California: AVY
Islandia, New York: CA
Downers Grove, Illinois: DOV
Framingham, Massachusetts: TJX
West Falls Church, Virginia: NOC
Waltham, Massachusetts: PKI
Allentown, Pennsylvania: APD
Charlotte, North Carolina: NUE
Pawtucket, Rhode Island: HAS
Mooresville, North Carolina: LOW
Los Angeles, California: OXY
Cupertino, California: AAPL
Kenosha, Wisconsin: SNA
New Britain, Connecticut: SWK
Bentonville, Arkansas: WMT
El Segundo, California: MAT
Decatur, Illinois: ADM
Taylor, Michigan: MAS
Roseland, New Jersey: ADP
Santa Clara, California: INTC
Minneapolis, Minnesota: TGT
Radnor, Pennsylvania: LNC
Burbank, California: DIS
Hartford, Connecticut: AET
Juno Beach, Florida: NEE
McLean, Virginia: TGNA
Murray Hill, New Jersey: BCR
New Brunswick, New Jersey: JNJ
Franklin Lakes, New Jersey: BDX
Indianapolis, Indiana: LLY
Oak Brook, Illinois: MCD
Oakland, California: CLX
Golden Valley, Minnesota: GIS
Jacksonville, Florida: CSX
Ferguson, Missouri: EMR
Curaçao, Kingdom of the Netherlands: SLB
Columbus, Indiana: CMI
Morristown, New Jersey: HON

# 3. merge!

现在你需要同时处理来自两个表中的信息了

1. 请思考，合并两个表的信息的时候，我们应该用什么样的准则对其它们（10分）
2. 请列举每个sector在2013-2016年累计Research&Development的总投入（10分）
3. 请列举出每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值（20分）

In [7]:
df = pd.merge(fd, se, how = 'inner',on = 'Ticker Symbol')
df

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,Security,SEC filings,GICS_Sector,GICS Sub Industry,Address_of_Headquarters,Date_first_added,CIK
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,2012.0,-5.60,3.350000e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,2013.0,-11.25,1.630222e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,2014.0,4.02,7.169154e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,2015.0,11.39,6.681299e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2012.0,5.29,7.328355e+07,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,1776,ZION,2015-12-31,0.000000e+00,0.0,-2.530000e+06,4.0,-1.573610e+08,0.000000e+00,NaN,...,2015.0,1.20,2.578925e+08,Zions Bancorp,reports,Financials,Regional Banks,"Salt Lake City, Utah",null,109380
1777,1777,ZTS,2013-12-31,1.381000e+09,-99000000.0,9.000000e+06,54.0,-1.840000e+08,8.780000e+08,43.0,...,2013.0,1.01,4.990099e+08,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280
1778,1778,ZTS,2014-12-31,1.071000e+09,69000000.0,-7.000000e+06,44.0,-1.800000e+08,9.580000e+08,81.0,...,2014.0,1.16,5.025862e+08,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280
1779,1779,ZTS,2015-12-31,1.313000e+09,-58000000.0,-8.100000e+07,32.0,-2.240000e+08,1.012000e+09,65.0,...,2015.0,0.68,4.985294e+08,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280
1780,1780,ZTS,2016-12-31,1.076000e+09,15000000.0,2.000000e+06,55.0,-2.160000e+08,1.024000e+09,65.0,...,NaN,NaN,NaN,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,1555280

In [16]:
#第一题
df1 = df.query('`For Year` > 2012 and `For Year` < 2017') #筛选出2013-2016年的数据
Sector_sum = df1.groupby('GICS_Sector')['Research and Development'].sum() #按sector求和
print('每个sector在2013-2016年累计Research&Development的总投入:\n',Sector_sum)


#第二题
df2 = df1.set_index(keys=['GICS_Sector'])
col_n = ['Security','For Year','Research and Development']
df2 = pd.DataFrame(df2,columns = col_n) #刚发现的去掉多余列的方法……

sector2 = {} #key=sector, value=number of company
company = {} #key=company, value=sector
number = {} #key=company, value=number
least = {} #key=sector, value=company
com = ''#临时变量
for i in range(0,len(df2.index),1):
    
    #公司数不够3个
    if df2.index[i] not in sector2.keys(): # 新的sector
        sector2[df2.index[i]] = 1
        com = df2.iat[i,0]
        company[com] = df2.index[i]
        number[com] = float(df2.iat[i,2])
        least[df2.index[i]] = com   
    elif sector2[df2.index[i]] < 3 and df2.iat[i,0] == com and (i+1 == len(df2.index) or df2.iat[i+1,0] == com): #累加年份
        number[df2.iat[i,0]] +=  float(df2.iat[i,2])   
    elif sector2[df2.index[i]] < 3 and df2.iat[i,0] == com and (i+1 == len(df2.index) or not(df2.iat[i+1,0] == com)): #设置最菜公司
        number[df2.iat[i,0]] +=  float(df2.iat[i,2])
        if number[df2.iat[i,0]] < number[least[df2.index[i]]]:
            least[df2.index[i]] = com
    elif sector2[df2.index[i]] < 3: #同sector新公司
        sector2[df2.index[i]] += 1
        com = df2.iat[i,0]
        company[com] = df2.index[i]
        number[com] = float(df2.iat[i,2])
    
    #公司数多于3个
    elif sector2[df2.index[i]] >= 3 and not(df2.iat[i,0] in number.keys()): #新公司
        com = df2.iat[i,0]
        number[com] = float(df2.iat[i,2])
    elif sector2[df2.index[i]] >= 3 and df2.iat[i,0] == com and (i+1 == len(df2.index) or df2.iat[i+1,0] == com):#累加年份
         number[df2.iat[i,0]] +=  float(df2.iat[i,2])
    elif sector2[df2.index[i]] >= 3 and df2.iat[i,0] == com and (i+1 == len(df2.index) or not(df2.iat[i+1,0] == com)): #与最菜比较并更新最菜
        number[df2.iat[i,0]] +=  float(df2.iat[i,2])
        if number[df2.iat[i,0]] > number[least[df2.index[i]]]:
            del company[least[df2.index[i]]]
            company[com] = df2.index[i]
            tem_least = com
            for k,v in company.items(): #寻找下一个最菜
                if v == df2.index[i] and number[k] < number[tem_least]:
                    tem_least = k
            least[df2.index[i]] = tem_least #将临时最菜当做真的最菜

print('\n每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值:')
for k,v in sector2.items():
    print('Sector: ',k)
    for ke,va in company.items():
        if va == k:
            print('company: ',ke,'投入的数值: ',number[ke])
    print()

每个sector在2013-2016年累计Research&Development的总投入:
 GICS_Sector
Consumer Discretionary         1.860178e+09
Consumer Staples               1.346700e+09
Energy                         1.692513e+09
Financials                     0.000000e+00
Health Care                    1.527224e+11
Industrials                    4.262290e+10
Information Technology         2.818233e+11
Materials                      1.850921e+10
Real Estate                    1.162100e+08
Telecommunications Services    0.000000e+00
Utilities                      0.000000e+00
Name: Research and Development, dtype: float64

每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值:
Sector:  Industrials
company:  Boeing Company 投入的数值:  9449000000.0
company:  Caterpillar Inc. 投入的数值:  6545000000.0
company:  United Technologies 投入的数值:  7096000000.0

Sector:  Consumer Discretionary
company:  AutoNation Inc 投入的数值:  0.0
company:  Garmin Ltd. 投入的数值:  1187087000.0
company:  Hasbro Inc. 投入的数值:  673091000.0

Sector:  Information Technology
company:  Apple Inc. 投入的数值:  28628000000.0
company:  Intel Corp. 投入的数值:  34276000000.0
company:  Microsoft Corp. 投入的数值:  45826000000.0

Sector:  Health Care
company:  Merck & Co. 投入的数值:  21387000000.0
company:  Pfizer Inc. 投入的数值:  22761000000.0

Sector:  Consumer Staples
company:  The Clorox Company 投入的数值:  532000000.0
company:  Campbell Soup 投入的数值:  491000000.0
company:  Mead Johnson 投入的数值:  323700000.0

Sector:  Utilities
company:  Ameren Corp 投入的数值:  0.0
company:  American Electric Power 投入的数值:  0.0
company:  American Water Works Company Inc 投入的数值:  0.0

Sector:  Financials
company:  AFLAC Inc 投入的数值:  0.0
company:  American International Group, Inc. 投入的数值:  0.0
company:  Assurant Inc 投入的数值:  0.0

Sector:  Real Estate
company:  AvalonBay Communities, Inc. 投入的数值:  0.0
company:  Vornado Realty Trust 投入的数值:  32210000.0
company:  Weyerhaeuser Corp. 投入的数值:  84000000.0

Sector:  Materials
company:  Du Pont (E.I.) 投入的数值:  5893000000.0
company:  Monsanto Co. 投入的数值:  6350000000.0
company:  PPG Industries 投入的数值:  1422000000.0

Sector:  Energy
company:  Baker Hughes Inc 投入的数值:  1635000000.0
company:  Helmerich & Payne 投入的数值:  57513000.0

Sector:  Telecommunications Services
company:  CenturyLink Inc 投入的数值:  0.0
company:  Frontier Communications 投入的数值:  0.0
company:  Level 3 Communications 投入的数值:  0.0

# 4. 现在让我们来看看更加复杂的数据

请导入price.csv，然后结合你的聪明才智回答以下问题（附加题，40分）

假设你是某基金公司的老板，现在对于每只股票，你都专门安排了一位负责它的交易员。公司规定每一位交易员手中的资金要么全部买入要么全部卖出（空仓，转化为现金）。假设2016年每一位交易员手中都有10000美元，假设他们都能够看到2016年全年的数据，假设他们都能抓住每一次机会，那么请问2016年底时，赚钱最多的股票是哪一只，赚了多少钱？

In [12]:
p = pd.read_csv('prices.csv')
p

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30 00:00:00,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30 00:00:00,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

In [14]:
col = ['date','symbol','open']
p1 = pd.DataFrame(p,columns = col) #删掉多于列

symbol = {}
com2 = ''
last_low = 0
for i in range(0, len(p1.index),1):
    if not p1.iat[i,1] in symbol.keys(): #遇到新的股票
        com2 = p1.iat[i,1]
        symbol[com2] = 0
        last_low = float(p1.iat[i,2])
    elif float(p1.iat[i,2]) > last_low: #发现上升序列，当场计算
        symbol[com2] = float(p1.iat[i,2]) - last_low
    elif float(p1.iat[i,2]) <= last_low: #上升中断，起点前移
        last_low = float(p1.iat[i,2])

max_num = 0
max_symbol = ''
for k,v in symbol.items(): #取出赚钱最多的股票
    if v >= max_num:
        max_symbol = k
        max_num = v
print('赚钱最多的股票是: ',max_symbol,',赚了: ',max_num*10000)

赚钱最多的股票是:  GM ,赚了:  5528899.92